In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [129]:
df = pd.read_csv('Laliga.csv')

In [130]:
df.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [131]:
df1 = df.replace('-',0)

In [132]:
df1

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [133]:
df1['Debutyear'] = df1['Debut'].str.split('\-+').str[0]

In [137]:
df1['Debutyear']=df1['Debutyear'].astype(int)

In [139]:
df1['Debutyear']

0     1929
1     1929
2     1929
3     1931
4     1929
5     1934
6     1929
7     1929
8     1939
9     1932
10    1941
11    1939
12    1948
13    1929
14    1944
15    1935
16    1949
17    1933
18    1960
19    1951
20    1998
21    1941
22    1977
23    1959
24    2004
25    1935
26    1961
27    1940
28    1930
29    1963
      ...
31    1943
32    1977
33    1987
34    1941
35    1991
36    2007
37    1962
38    1994
39    1978
40    1971
41    1963
42    1999
43    2014
44    1929
45    1990
46    1947
47    1996
48    1995
49    1945
50    1953
51    1929
52    1979
53    1929
54    1950
55    2016
56    2009
57    1956
58    1951
59    1955
60    2017
Name: Debutyear, Length: 61, dtype: int32

In [138]:
df1

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debutyear
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,1929
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,1929
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,1929
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,1931
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,1929
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934-35,2001-02,1,1934
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,1929
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,1929
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939-40,2012-13,2,1939
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932-33,2015-16,1,1932
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941-42,2014-15,1,1941
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939-40,2012-13,4,1939
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948-49,2013-14,4,1948
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,1929
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944-45,2015-16,2,1944
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935-36,2016-17,4,1935
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949-50,2008-09,4,1949
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933-34,2000-01,3,1933
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960-61,2012-13,3,1960
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951-52,2015-16,2,1951
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998-99,2013-14,2,1998
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941-42,2016-17,6,1941
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977-78,2015-16,8,1977
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959-60,2014-15,5,1959
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004-05,2015-16,6,2004
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935-36,2010-11,5,1935
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961-62,2009-10,5,1961
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940-41,2007-08,11,1940
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930-31,2016-17,6,1930
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963-64,2015-16,6,1963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943-44,1987-88,4,1943
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977-78,2005-06,12,1977
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987-88,1996-97,7,1987
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941-42,1990-91,4,1941
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991-92,2004-05,7,1991
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007-08,2014-15,8,2007
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962-63,2014-15,5,1962
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994-95,1997-98,10,1994
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978-79,2008-09,8,1978
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971-72,1979-80,12,1971
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963-64,1969-70,7,1963
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999-00,2008-09,17,1999
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014-15,2014-15,10,2014
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,1929
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990-91,1992-93,9,1990
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947-48,2006-07,7,1947
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996-97,1998-99,17,1996
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995-96,1997-98,19,1995
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945-46,1950-51,10,1945
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953-54,1957-58,14,1953
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,1929
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979-80,1980-81,10,1979
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,1929
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950-51,1993-94,16,1950
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016-17,2016-17,17,2016
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009-10,2009-10,20,2009
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956-57,1956-57,16,1956
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951-52,1951-52,16,1951
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955-56,1955-56,15,1955
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017-18,2017-18,9,2017

In [147]:
df1[(df1['Debutyear'] >= 1930) & (df1['Debutyear'] <= 1980)]['Team']

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [151]:
df1['Points']=df1['Points'].astype(int)

In [156]:
df1.sort_values('Points', ascending = False).loc[:4,:]['Team']

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [173]:
def Goal_diff_count(df1):
    #print(df1.head())
    tempdf = df1.copy(deep=True)
    tempdf.set_index('Team',inplace=True)
    #print(tempdf.head())
    GoalsFor = tempdf['GoalsFor'].astype(int)
    GoalsAgainst = tempdf['GoalsAgainst'].astype(int)
    
    Goal_diff_count = GoalsFor - GoalsAgainst
    #print(Goal_diff_count.head())
    return(Goal_diff_count,Goal_diff_count[Goal_diff_count==Goal_diff_count.max()],Goal_diff_count[Goal_diff_count==Goal_diff_count.min()])

In [174]:
Goal_diff_count(df1)

(Team
 Real Madrid            2807
 Barcelona              2786
 Atletico Madrid        1225
 Valencia                929
 Athletic Bilbao         931
 Sevilla                 307
 Espanyol               -280
 Real Sociedad            -2
 Zaragoza               -164
 Real Betis             -333
 Deportivo La Coruna    -136
 Celta Vigo             -346
 Valladolid             -413
 Racing Santander       -525
 Sporting Gijon         -399
 Osasuna                -334
 Malaga                 -342
 Oviedo                 -309
 Mallorca               -189
 Las Palmas             -399
 Villarreal              103
 Granada                -338
 Rayo Vallecano         -328
 Elche                  -272
 Getafe                 -113
 Hercules               -334
 Tenerife               -125
 Murcia                 -385
 Alaves                 -165
 Levante                -202
                        ...
 Sabadell               -228
 Cadiz                  -269
 Logrones               -198
 Castellon              -169
 Albacete                -90
 Almeria                -122
 Cordoba                -145
 Compostela              -42
 Recreativo              -94
 Burgos CF               -94
 Pontevedra              -56
 Numancia                -98
 Eibar                   -28
 Arenas                  -81
 Real Burgos             -38
 Gimnastic              -114
 Extremadura             -55
 Merida                  -45
 Alcoyano               -107
 Jaen                    -62
 Real Union              -31
 AD Almeria              -45
 Europa                  -34
 Lleida                 -112
 Leganes                 -19
 Xerez                   -28
 Condal                  -20
 Atletico Tetuan         -34
 Cultural Leonesa        -31
 Girona                    0
 Length: 61, dtype: int32, Team
 Real Madrid    2807
 dtype: int32, Team
 Racing Santander   -525
 dtype: int32)

In [175]:
GamesWon = np.int32(df1['GamesWon'])
GamesPlayed = np.int32(df1['GamesPlayed'])

In [176]:
df1['Winning Percent'] = (np.float32(df1['GamesWon']) / np.float32(df1['GamesPlayed'])) * 100

C:\Users\LENOVO\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in divide
  """Entry point for launching an IPython kernel.

In [179]:
df1

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debutyear,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,1929,59.630703
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,1929,57.241131
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1929,47.475136
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1931,44.557056
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,1929,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934-35,2001-02,1,1934,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994-95,3,1929,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010-11,1,1929,37.532581
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939-40,2012-13,2,1939,35.146023
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932-33,2015-16,1,1932,35.069447
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941-42,2014-15,1,1941,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939-40,2012-13,4,1939,34.511192
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948-49,2013-14,4,1948,31.582537
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011-12,2,1929,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944-45,2015-16,2,1944,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935-36,2016-17,4,1935,32.321701
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949-50,2008-09,4,1949,31.075699
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933-34,2000-01,3,1933,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960-61,2012-13,3,1960,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951-52,2015-16,2,1951,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998-99,2013-14,2,1998,41.176472
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941-42,2016-17,6,1941,29.380053
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977-78,2015-16,8,1977,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959-60,2014-15,5,1959,29.941002
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004-05,2015-16,6,2004,32.236843
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935-36,2010-11,5,1935,29.299364
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961-62,2009-10,5,1961,31.376516
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940-41,2007-08,11,1940,24.744028
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930-31,2016-17,6,1930,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963-64,2015-16,6,1963,28.109451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943-44,1987-88,4,1943,30.281691
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977-78,2005-06,12,1977,23.214285
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987-88,1996-97,7,1987,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941-42,1990-91,4,1941,30.838322
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991-92,2004-05,7,1991,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007-08,2014-15,8,2007,27.192984
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962-63,2014-15,5,1962,29.078012
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994-95,1997-98,10,1994,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978-79,2008-09,8,1978,26.881721
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971-72,1979-80,12,1971,28.921568
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963-64,1969-70,7,1963,29.444445
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999-00,2008-09,17,1999,24.342104
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014-15,2014-15,10,2014,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934-35,3,1929,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990-91,1992-93,9,1990,22.807016
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947-48,2006-07,7,1947,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996-97,1998-99,17,1996,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995-96,1997-98,19,1995,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945-46,1950-51,10,1945,27.777779
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953-54,1957-58,14,1953,32.222221
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931-32,6,1929,29.166666
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979-80,1980-81,10,1979,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930-31,8,1929,33.333336
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950-51,1993-94,16,1950,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016-17,2016-17,17,2016,21.052631
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,2009-10,20,2009,21.052631
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,1956,23.333334
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,1951,23.333334
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,1955,16.666668
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,2017,0.000000

In [178]:
df1['Winning Percent'] = df1['Winning Percent'].fillna(0)

In [181]:
df1.nlargest(5,'Winning Percent')['Team']

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [183]:
df1.groupby('BestPosition').sum()['Points']

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32